.poll {
  color: var(--poll-text-color);
  font-family: var(--poll-font);
  font-size: 22px;
  line-height: 1.6;

  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 48px 64px;
}

.barTooltipInner {
  font-size: 22px;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 4px;
}

.barTooltip {
  padding-bottom: 8px;
}

.subheaderInner {
  background-color: black;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 4px;
}

.header {
  padding-bottom: 16px;
  font-size: 42px;
  text-align: center;
  flex: 0 0 auto;
  font-weight: 600;
}

.subheader {
  font-size: 24px;
  text-align: center;
  flex: 0 0 auto;
  color: #eee;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.subheaderLink {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
}

.pollChart {
  flex: 1 0;
  width: 100%;
}

.votes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.bars {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.labels {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.labelCol,
.bar {
  max-width: 180px;
  box-sizing: border-box;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px;
}

.barProgress {
  border-radius: 5px;
  transition: height 0.3s ease;
  width: 100%;
}

.label {
  font-size: 18px;
  text-align: center;
  padding: 5px;
  font-weight: 700;
}

.labelCol {
  flex-shrink: 0;
  padding: 0 5px;
}
