.poll {
  font-family: var(--poll-font);
  color: var(--poll-text-color);
  --bar-color: var(--poll-text-color);
  --bar-label-color: var(--poll-background-color);

  font-size: 22px;
  line-height: 1.6;
  box-sizing: border-box;
  text-align: left;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
}

.poll-question {
  padding: 48px 64px 0 64px;
  padding-bottom: 0;
  font-size: 42px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.balls-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.layout {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.contenders {
  height: 100%;
  flex: 2 0;
  position: relative;
}

.summary {
  flex: 1 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.already-voted {
  text-align: center;
  max-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 80px;
  font-weight: 900;
}

.label {
  font-size: 24px;
  line-height: 1.222;
}

.label-link {
  font-size: 24px;
  line-height: 1.222;
  text-decoration: underline;
  font-weight: 700;
}

.ball {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  opacity: 0;
  background-color: var(--bar-color);
}

.entry-count {
  z-index: 3;
  display: inline-block;
  margin-left: -9px;
  font-size: 20px;
  border-radius: 20px;
  background-color: var(--bar-color);
  color: var(--bar-label-color);
  padding-right: 10px;
  padding-left: 10px;
  min-width: 10px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
}

.entry {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.222;
}

.entry-name {
  padding-left: 20px;
  box-sizing: border-box;
  width: 350px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 9px;
  text-align: right;
  flex-shrink: 0;
  line-height: 20px;
}

.entry-votes {
  background-color: var(--bar-color);
  height: 6px;
  border-radius: 6px;
  display: inline-block;
  width: 23px;
}

@keyframes flash-anim {
  30% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.flash-animation {
  animation: flash-anim 0.3s;
  animation-timing-function: ease;
}
