.poll {
  font-family: var(--poll-font);
  color: var(--poll-text-color);
  font-size: 22px;
  line-height: 1.6;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 48px 64px;
  box-sizing: border-box;
}

.question {
  font-size: 42px;
  font-weight: 600;
}

.subheader {
  font-size: 26px;
}

.subheader-link {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 8px;
  padding: 2px 5px;
  font-size: 28px;
  background-color: #fdfd3d;
}

.results {
  margin-top: 40px;
}

.result {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.line {
  flex-grow: 1;
  flex-shrink: 1;
}

.percent {
  font-size: 42px;
  line-height: 28px;
  font-weight: 700;
  padding-left: 25px;
  width: 100px;
  align-self: flex-end;
  flex-shrink: 0;
  text-align: left;
}

.result-header {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 4px;
}

.progress-wrap {
  overflow: hidden;
  height: 15px;
  border-radius: 5px;
  background-color: #eee;
}

.progress {
  height: 15px;
  background-color: #000;
  transition: transform 0.3s ease;
  transform-origin: left top;
}
